* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2c3e50;
    color: #333;
}

.breadcrumb {
    margin: 20px;
    font-size: 14px;
    background-color: #2c3e50;
}

.breadcrumb a {
    color: #ffffff;
    text-decoration: none;
}

.breadcrumb span {
    color: #ffffff;
}

.event-detail {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: ivory;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.event-info {
    max-width: 600px;
    margin-right: 20px;
}

.event-info h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.event-info .date {
    color: gray;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.event-info .status {
    background-color: green;
    color: white;
    padding: 3px 8px;
    border-radius: 3px;
    margin-left: 10px;
    font-size: 0.8rem;
}

.event-info img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.event-gallery {
    display: flex;
    gap: 10px;
}

.event-gallery img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.event-description {
    max-width: 300px;
}

.event-category {
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 20px;
}

.event-description p {
    margin-bottom: 15px;
    line-height: 1.5;
}

.event-location h4 {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.event-location p {
    font-size: 0.9rem;
    color: gray;
}


.event-buttons button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #4caf50;
    border-radius: 5px;
}

.event-buttons button:hover {
    background-color: #45a049;
}

.event-map {
    margin-top: 20px;
}

.event-map iframe {
    border: 0;
}